@page
@model Project6ASP.NETCoreRazorPages.Pages.OverviewModel

<h2>Movies</h2>

<a href ="/MovieDetails">Movie Details</a>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
        </tr>
    </thead>
    <tbody>
@for (var i = 0; i < Model.Movies.Count; i++)
{
    <tr>
        <td><a href = "MovieDetails/">@Model.MovieList[i]</a></td>
        <td>@Model.MovieList[i]</td>
        <td>@Model.MovieList[i]</td>
    </tr>
}
    </tbody>
</table>
